<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Sultannur KAYA
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="@Url.Action("ProfileInfo", "Profile")">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="@Url.Action("ProfileInfo", "Profile")">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="@Url.Action("Index","Default")">
					<i class="la la-dashboard"></i>
					<p>Siteye Git</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("AboutList","About")">
					<i class="la la-table"></i>
					<p>Hakkımda</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("ExperienceList","Experience")">
					<i class="la la-keyboard-o"></i>
					<p>Deneyimler</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("Index","ToDoList")">
					<i class="la la-th"></i>
					<p>Yapılacaklar</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("ContactList","Contact")">
					<i class="la la-bell"></i>
					<p>İletişim Bilgileri</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("PortfolioList","Portfolio")">
					<i class="la la-font"></i>
					<p>Portfolyo</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("SkillList","Skill")">
					<i class="la la-fonticons"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.Action("TestimonialList","Testimonial")">
					<i class="la la-fonticons"></i>
					<p>Referanslarım</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="@Url.Action("Inbox","Message")">
					<i class="la la-fonticons"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="@Url.Action("Index","LoginPage")">
					<i class="la la-fonticons"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="">
					<i class=""></i>
					<p></p>
				</a>
			</li>
			<li class="nav-item">
				<a href="">
					<i class=""></i>
					<p></p>
				</a>
			</li>
			
		</ul>
	</div>
</div>